x-gallery {
    display: block;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

x-gallery div[class*='arrow-'] {
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    color: #000;
    height: 30px;
    line-height: 30px;
    position: absolute;
    margin: 5px;
    margin-top: -15px;
    opacity: 0;
    text-align: center;
    top: 50%;
    transition: opacity .3s ease;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    width: 30px;
}

x-gallery div.arrow-right {
    right: 0;
}

x-gallery:hover div[class*='arrow-'] {
    opacity: 1.0;
}

x-slides {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -o-transition: -o-transform .5s ease;
    -ms-transition: -ms-transform .5s ease;
    -moz-transition: -moz-transform .5s ease;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

x-slides > x-slide {
    display: block;
    float: left;
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    overflow: hidden;
}

x-thumbnails {
    display: block;
}

x-thumbnails img {
    max-width: 40px;
}

x-thumbnails img.selected {
    border: 1px solid #fff;
}
